.login-panel {
    max-width: 400px;
    text-align: center;
}

.btn-login-submit {
    margin-left: auto;
    margin-right: auto;
}

.navbar-notlogin a:hover, .navbar-notlogin a:visited {
    color: #9d9d9d !important;
}
