<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link href="../bower_components/bootstrap-markdown-editor/dist/css/bootstrap-markdown-editor.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/create_project.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script src="//cdn.bootcss.com/jquery.form/4.2.1/jquery.form.js"></script>
    <script>
        $(document).ready(function(){
            $("#create").click(function(){
                $.post("/createproject",
                    {
                {% if pid != '' %}
                        pid: {{ pid }},
                {% end %}isedit: "{{ isedit }}",
                        title: $("#title").val(),
                        detail: $("#myEditor").val()
                    },
                    function(data,status){
                    alert(data);
                });
                window.location="http://{{ baseurl }}";
            });
            $("#title").val("{{ title }}");
        });
{#        $('#fileupload-form').on('submit',(function(e) {#}
{#   	e.preventDefault();#}
{#   	//序列化表单#}
{#      var serializeData = $(this).serialize();#}
{##}
{#      // var formData = new FormData(this);#}
{#      $(this).ajaxSubmit({#}
{#           type:'POST',#}
{#           url: "/uploadPic",#}
{#           dataType: 'json',#}
{#           data: serializeData,#}
{#           // data: formData,#}
{##}
{#           //attention!!!#}
{#           contentType: false,#}
{#           cache: false,#}
{#           processData:false,#}
{##}
{#           beforeSubmit: function() {#}
{#           		//上传图片之前的处理#}
{#           },#}
{#           uploadProgress: function (event, position, total, percentComplete){#}
{#               //在这里控制进度条#}
{#           },#}
{#           success:function(){#}
{#               alert('succ');#}
{##}
{#           },#}
{#           error:function(data){#}
{#               alert('上传图片出错');#}
{#           }#}
{#       });#}
{#   }));#}
{##}
{#//绑定文件选择事件，一选择了图片，就让`form`提交。#}
{##}
{#   $("#fileupload").on("change", function() {#}
{#       alert('asdfasdf');#}
{#       $(this).parent().submit();#}
{# });#}
{#        $(document).ready(function(){#}
{#            $("#create").click(function(){#}
{#                $.post("/createproject",#}
{#                    {#}
{#                        title: $("#title").val(),#}
{#                        detail: $("#myEditor").val()#}
{#                    },#}
{#                    function(data,status){#}
{#                    alert(data);#}
{#                    window.location="http://{{ baseurl }}";#}
{#                });#}
{#            });#}
{#        });#}
    </script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="my-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/">
                <p>JI Graduation Project Website</p>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/">Projects</a>
                </li>
                <li>
                    <a href="/joinGroup">Groups</a>
                </li>
                <li>
                    <a href="/assign">Assign</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ u_name }}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/option">My Profile</a></li>
                        <li><a href="/export">Export data</a> </li>
                        <li><a href="/logout">Log out</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create a Group</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="contents create-project" style ="width: 65%;text-align: center;margin-left: auto;margin-right: auto;">
        {% if title != '' %}
        leave the picture submit form if you don't need to change the picture</br>
        {% end %}
    <div class="upload-title-pic">
        <span style="margin-right:5px">Project Avatar: </span>
        <!--<form id="fileupload-form">
            <input id="fileupload" type="file" name="file" >
        </form>-->
        <form action="/uploadPic" enctype="multipart/form-data" method="post" target="nm_iframe">
            <input name="myfile" type="file">
            <input type="submit" value="Submit">
        </form>
    </div>
    <iframe id="id_iframe" name="nm_iframe" style="display:none;"></iframe>
    <div class="input-group input-group-lg input-title">
        <span class="input-group-addon">Title</span>
        <input type="text" class="form-control" placeholder="Project Name" id="title">
    </div>
    <textarea class="input-contents" name="text" id="myEditor">{% if detail != '' %}{{ detail }}{% end %}</textarea>
    <button type="button" class="btn btn-primary btn-create" id="create">Create</button>
    <div class="form-group" style="display: none">
                        <input name="picready" class="form-control" value="">
                    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../bower_components/ace-builds/src-min/ace.js"></script>
<script src="../bower_components/bootstrap-markdown-editor/dist/js/bootstrap-markdown-editor.js"></script>
<script src="../static/create_project.js"></script>
</body>
</html>
