<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>JI Graduation Projects</title>
        <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="../static/detail.css">
        <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
        <script>
         $(document).ready(function(){
             $("#post").click(function(){
                 var chosen;
                 for (var i=1;i<4;i++){
                     if ($('#inlineRadio'+i).is(":checked")){
                         chosen = i - 1;break;
                     }
                 }
                 $.post("/register",
                        {
                            res: {{ i }},
                            pref: chosen
                        },
                        function(data,status){
                            alert(data);
                        });
                 window.location.reload();
             });
             $("#quit").click(function(){
                 $.post("/quit",
                        {
                            id: {{ i }}
                        },
                        function(data,status){
                            alert(data);
                        });
                 window.location.reload();
             });
             $("#edit").click(function(){
                 window.location="{{ baseurl }}/createproject?id={{ i }}";
             });
             $("#delete").click(function(){
                 $.post("/deleteProj",
                        {
                            id: {{ i }}
                        },
                        function(data,status){
                            alert(data);
                        });
                 window.location="{{ baseurl }}";
             });
         });
        </script>
    </head>
    <body>
        <nav class="navbar navbar-inverse" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="my-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                            aria-expanded="false" aria-controls="navbar">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </button>
                    <a class="navbar-brand" href="/">
                        <p>JI Graduation Project Website</p>
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="/">Projects</a>
                        </li>
                        <li>
                            <a href="/joinGroup">Groups</a>
                        </li>
                        {% if role == 'admin' %}
                        <li>
                            <a href="/assign">Assign</a>
                        </li>
                        {% end %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ u_name }}<span
                                                                                                       class="caret"></span></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="/option">My Profile</a></li>
                                {% if role=='stu' %}
                                <li><a href="/registed">My Project</a></li>
                                {% else %}
                                <li><a href="/export">Export data</a> </li>
                                {% end %}
                                <li><a href="/logout">Log out</a></li>
                                {% if role=='stu' %}
                                <li class="divider"></li>
                                <li><a href="#">Create a Group</a></li>
                                {% else %}
                                <li class="divider"></li>
                                <li><a href="/createproject">Create a Project</a></li>
                                {% end %}
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="contents project-detail">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8">
                        <img class="thumbnail img-responsive" src="/img/{{ proj['img'] }}">
                        {% for p in proj['detail'] %}
                        <p>{{ p }}
                        </p>
                        {% end %}
                    </div>
                    <div class="col-md-4">
                        {% if role=='stu' %}
                        {% if isIn==False %}
                        <div class="project-submit">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#register-modal" style="margin-bottom: 20px;">Register the Project</button>
                            <div class="modal fade" id="register-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                                            <h4 class="modal-title" id="myModalLabel">Are you sure to select the project?</h4>
                                        </div>
                                        <div class="modal-body">
                                            The selected project can be managed in your profile.
                                            <p>Select the project as:</p>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" checked>Preference 1
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Preference 2
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">Preference 3
                                            </label>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                            <button type="button" class="btn btn-primary" id="post">Confirm</button>
                                        </div>_
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <div class="project-submit">
                            <button class="btn btn-primary" id="quit" style="margin-bottom: 20px;">Quit the Project</button>
                        </div>
                        {% end %}
                        {% else %}
                        <div class="project-submit">
                            <button class="btn btn-primary" id="edit" style="margin-bottom: 20px;">Edit the Project</button>
                        </div>
                        <div class="project-submit">
                            <button class="btn btn-primary" id="delete" style="margin-bottom: 20px;">Delete the Project</button>
                        </div>

                        {% end %}
                        <div class="panel panel-success" style="width: 47%; float: left">
  					                <div class="panel-heading">Instuctor</div>
  					                <div class="panel-body">
    					                  {{ proj['instructor'] }}
  					                </div>
				                </div>
				                <div class="panel panel-success" style="width: 47%; float: right">
  					                <div class="panel-heading">Sponsor</div>
  					                <div class="panel-body">
    					                  {{ proj['sponsor'] }}
  				                  </div>
				                </div>

				                <div class="panel panel-info" style="margin-top: 113px;">
  					                <!-- Default panel contents -->
  					                <div class="panel-heading">Current Selection Information</div>

  					                <!-- List group -->
  					                <ul class="list-group">
    				                    <li class="list-group-item">{{ proj['chosen_num1'] }} groups, {{ person_num(proj['wish1']) }} students</li>
    				                    <li class="list-group-item">{{ proj['chosen_num2'] }} groups, {{ person_num(proj['wish2']) }} students</li>
    				                    <li class="list-group-item">{{ proj['chosen_num3'] }} groups, {{ person_num(proj['wish3']) }} students</li>
  					                </ul>
				                </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="../bower_components/jquery/dist/jquery.min.js"></script>
        <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
