<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/groups.css">
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#join").click(function(){
                $.post("/joinGroup",
                    {
                        gid: $(this).val()+1,
                        method: "join"
                    },
                    function(data,status){
                    alert(data);
                });
            });
            $("#leave").click(function(){
                $.post("/joinGroup",
                    {
                        method: "quit"
                    },
                    function(data,status){
                    alert(data);
                });
            });
        });
    </script>
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="my-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/">
                <p>JI Graduation Project Website</p>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Projects</a>
                </li>
                <li class="active">
                    <a href="/joinGroup">Groups</a>
                </li>
                {% if role == 'admin' %}
                <li>
                    <a href="/assign">Assign</a>
                </li>
                {% end %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ u_name }}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/option">My Profile</a></li>
                        {% if role=='stu' %}
                        <li><a href="/registed">My Project</a></li>
                        {% else %}
                        <li><a href="/export">Export data</a> </li>
                        {% end %}
                        <li><a href="/logout">Log out</a></li>
                        {% if role=='stu' %}
                        <li class="divider"></li>
                        <li><a href="/createproject">Create a Group</a></li>
                        {% else %}
                        <li class="divider"></li>
                        <li><a href="/createproject">Create a Project</a></li>
                        {% end %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="contents groups">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead class="table-head">
            <tr>
              <td class="gro-no">Group No.</td>
              <td class="gro-led">Group Leader</td>
              <td class="gro-mem">Group Members</td>
                {% if role == 'stu' %}
              <td>Join / Leave</td>
                {% end %}
            </tr>
            </thead>
            <tbody>
            {% for i in range(l) %}
            <tr>
                <td>{{ i + 1 }}</td>
                <td><a href="/member/{{ groups[i]['leader_id'] }}"> {{ groups[i]['leader'] }}</a></td>
                <td>{% for j in range(len(split(groups[i]['users']))) %}
                    <a href="/member/{{ split(groups[i]['user_id'])[j] }}"> {{ split(groups[i]['users'])[j] }}</a><br>
                    {% end %}
                </td>
                {% if role == 'stu' %}
                <td>
                    {% if gid != groups[i]['id'] %}
                    {% if groups[i]['isFull'] %}
                  <button class="btn btn-success" disabled="disabled">Full</button>
                    {% else %}
                  <button class="btn btn-success" data-toggle="modal" data-target="#join-modal">Join</button>
                  <div class="modal fade" id="join-modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4>Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure to join the group?
                        </div>
                        <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" value={{ i }} id="join">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% end %}
                    {% else %}
                  <button class="btn btn-warning" data-toggle="modal" data-target="#leave-modal">Leave</button>
                  <div class="modal fade" id="leave-modal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                          <h4>Confirmation</h4>
                        </div>
                        <div class="modal-body">
                          Are you sure to leave the group? {% if stat == 'l' %} If you leave the group, the group will be dismissed. {% end %}
                        </div>
                        <div class="modal-footer" align="center">
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-primary" id="leave">Confirm</button>
                        </div>
                      </div>
                    </div>
                  </div>
                    {% end %}
                </td>
                {% end %}
              </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
