<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>JI Graduation Projects</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/global.css">
    <link rel="stylesheet" href="../static/groups.css">
</head>
<body>
<nav class="navbar navbar-inverse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="my-toggle navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <a class="navbar-brand" href="/">
                <p>JI Graduation Project Website</p>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Projects</a>
                </li>
                <li class="active">
                    <a href="joinGroup">Groups</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ u_name }}<span
                            class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/option">My Profile</a></li>
                        {% if role=='stu' %}
                        <li><a href="/registed">My Project</a></li>
                        {% else %}
                        <li><a href="/export">Export data</a> </li>
                        {% end %}
                        <li><a href="/logout">Log out</a></li>
                        {% if role=='stu' %}
                        <li class="divider"></li>
                        <li><a href="/createproject">Create a Group</a></li>
                        {% else %}
                        <li class="divider"></li>
                        <li><a href="/createproject">Create a Project</a></li>
                        {% end %}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="contents groups">
    <div class="container-fluid">
        <table class="table table-striped">
            <thead>
            <tr>
                <td>Group No.</td>
                <td>Group Leader</td>
                <td>Group Members</td>
                <td></td>
            </tr>
            </thead>
            <tbody>
            {% for i in range(l) %}
            <tr>
                <td>{{ i+1 }}</td>
                <td>{{ groups[i]['leader'] }}</td>
                <td>{{ groups[i]['users'] }}</td>
                {% if stat=='n' and role=='stu' %}
                <td>
                    {% if groups[i]['isFull']==False %}
                    <button class="btn btn-default">Request to Join</button>
                    {% else %}
                    <button class="btn btn-default">The group is full</button>
                    {% end %}
                </td>
                {% end %}
            </tr>
            {% end %}
            </tbody>
        </table>
    </div>
</div>
<script src="../bower_components/jquery/dist/jquery.min.js"></script>
<script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
